.item {
    border-bottom: 1px solid #d2d6da;
}

.loading {
    display: block;
    width: 80px;
    height: 80px;
    margin: 120px auto;

    svg {
        width: 100%;
        height: 100%;
    }
}

.moreBtn {
    width: 100%;
    margin-top: 12px;
}
