.input {
    height: 36px;
    padding: 0 8px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid $primary-color;

    &::placeholder {
        color: $text-color-3;
    }
}
